.text {
    text-align: center;
}

@media (max-width: 640.98px) {
    .thanks {
        position: absolute;
        top: 25%;
    }
}

@media (min-width: 641px) {
    .text{
        padding-bottom: 10px;
    }
}