@page "/thanks"

@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager

<PageTitle>米歐與米婔的婚禮</PageTitle>

<div class="thanks">
    <img src="images/heart.png" alt="閃蝦仁的一張圖" style="display:block;margin:auto;max-width:80%;">
    <h4 class="text">
        感謝您的回覆與祝福！
    </h4>
    @if(@_joining == Joining.Yes)
    {
        <text><h4 class="text">期待與您見面！</h4></text>
    }
</div>


@code{
    private string? _joining;
}

@functions{
    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("joining", out var joining))
        {
            _joining = joining;
        }
    }
}