@inherits LayoutComponentBase

<PageTitle>WeddingConfirmation</PageTitle>

<div class="page">
    <main>
        <article class="content" style="width:1000px; margin: 40px auto;">
            @Body
        </article>
    </main>
</div>
