@inherits LayoutComponentBase

<PageTitle>WeddingConfirmation</PageTitle>

<div class="page" style="background-image:url('https://picsum.photos/1600/1200');background-size:cover;background-repeat:no-repeat;background-attachment:fixed">
    <main>
        <article class="content" style="width:800px; margin: 40px auto;background-color:wheat">
            @Body
        </article>
    </main>
</div>
