@namespace WeddingConfirmation

<label for="@ForId" class="form-label">@ChildContent</label>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string ForId { get; set; } = "";
}
